body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 500px;
}

header nav {
    height: 100px;
    background: white;
    box-shadow: none;
}

.brand-logo {
    height: 100px;
    left: 15%;

}

.brand-logo img {
    width: 52px;
}
